body {
  background: #595959;
  font-family: sans-serif;
  color: #a84100;
}

header {
  margin: 20px 5%;
}
header h1 {
  color: #ffcc00;
}
header h2 {
  margin: 10px 10%;
  color: #ffcc00;
}

.grad {
  padding: 1%;
  background: #f2ffeb;
  margin: 0 30px 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2efeb), to(#8e8b87));
  background-image: -webkit-linear-gradient(top, #f2efeb, #8e8b87);
  background-image: -moz-linear-gradient(top, #f2efeb, #8e8b87);
  background-image: -ms-linear-gradient(top, #f2efeb, #8e8b87);
  background-image: -o-linear-gradient(top, #f2efeb, #8e8b87);
  background-image: linear-gradient(top, #f2efeb, #8e8b87);
}
.grad h2 {
  margin: 20px 5%;
  color: coral;
}
.grad .intro, .grad .feature {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #333;
  margin: 20px;
  font-weight: bold;
}
.grad .intro .par1, .grad .feature .par1 {
  padding: 20px 5%;
  color: coral;
}
.grad .intro .par1 a, .grad .feature .par1 a {
  font-size: 20px;
  font-style: italic;
  text-decoration: none;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 20px;
}
.grad .intro .par1 a:hover, .grad .feature .par1 a:hover {
  background: #666;
  color: white;
}
.grad .feature {
  border: 2px solid coral;
}

.par {
  margin: 20px;
  font-weight: bold;
}
